.continents, .pays {
    display: flex;
    justify-content: space-around;
}


.titres {
margin-top: 20px;
margin-bottom: 20px;
}

.resultat {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@import '~bootstrap/scss/bootstrap.scss';