#logoCovidEscape {
    display: flex;
    justify-content: center;
    width: 35%;
    height: auto;
    filter: opacity(90%);
    -webkit-filter: opacity(90%);
    border-radius: 17px;
    box-shadow: 2px 2px 0 rgb(211, 62, 62);
    margin-left: 32%;
}

* {
    background-color: rgba(217, 247, 252, 0.8);
    
}

* {
    font-family: 'Viminalis', Arial, sans-serif;
}

.header{
        margin-bottom: 20px;
}


@import '~bootstrap/scss/bootstrap.scss';